.movie-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.movie-details img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.movie-info h2,
.movie-info h3,
.movie-info p {
  margin: 10px 0;
}

.movie-rating {
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 220px;
  height: 100px;
  margin: 0 auto 0 0;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  display: block;
  margin: 10px 0;
}

.back-button img {
  width: 32px;
  height: 32px;
}

hr {
  border: none;
  border-top: 1px solid white;
  margin-bottom: 20px;
}

.carousel-item {
  margin-right: 20px;
}

.carousel .similar-movie:hover {
  cursor: pointer;
}